* {
    margin: 0 auto;
    padding: 0 auto;
}

body{
    color: white;
    background-color: black;
    font-size: 25px;
}

.container{
    text-align: center;
    padding-top: 55px;
}

.error-message{
    list-style-type: none;
    text-align: center;
}